<ion-header>
  <ion-toolbar>
    <ion-title>
      News for {{ countryName }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/settings" (click)="settings()" color="tertiary">
        <ion-icon slot="icon-only" name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Show message if no news is available -->
  <div *ngIf="noNewsAvailable; else newsListTemplate">
    <ion-text color="medium">
      <h2 style="text-align: center; margin-top: 20px;">
        No news available for {{ countryName }}.
      </h2>
    </ion-text>
  </div>

  <!-- Template to display the news list -->
  <ng-template #newsListTemplate>
    <ion-list>
      <ion-card *ngFor="let news of newsList">
        <img 
          [src]="news.image_url" 
          alt="News Image"
          style="width: 30%; height: auto; margin-bottom: 8px;"
        />
        <ion-card-header>
          <ion-card-title>{{ news.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ news.description }}</p>
          <ion-button  color="primary" [href]="news.link" target="_blank">
            Read More
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ng-template>
</ion-content>